@font-face {
  font-family: 'Museo Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Museo Sans 500'), local('MuseoSans500'),
       url('./museo-sans-500.woff') format('woff');
}

.App {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  text-align: center;
}

.card-main {
  border: 0;
}

.card-overlap {
  height: 87px;
  width: auto;
  margin: 0 auto;
  z-index: 10;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-overlap > img{
  height: 87px;
  width: 75px;
  position: absolute;
  width: auto;
}
 
.card-background {
  position: relative;
  min-height: 120px;
  background-color: white;
  z-index: 1;
  margin-top: -43.5px;
  padding: 10px;
  border-radius: 13px;
}

.card-container {
  padding: 0;
  margin: 53.5px 0 18px 0;
}

#header {
  font-family: 'Museo Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  margin-top: 11px;
  font-weight: 500;
  color: #132236;
  line-height: 17px;
}

#version {
  font-family: 'Museo Sans', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-top: 11px;
  font-weight: 300;
  color: #435571;
  line-height: 14px;
}

#dot-left {
	height: 5px;
	width: 5px;
  font-size: 0;
  color: #CFD2E6;
  position: absolute;
  left: 40%;
  -webkit-animation-name: move-left;
  -webkit-animation-duration: 8s;
  -moz-animation-name: move-left;
  -moz-animation-duration: 8s;
  animation-name: move-left;
  animation-duration: 8s;
}

@-webkit-keyframes move-left {
  0% {left: 40%; font-size: 0;}
  1% {left: 40%; font-size: 5px;}
  50% {left: 13px; top: 20%; font-size: 5px;}
  99% {left: 13px; top: 60%; font-size: 5px;}
  100% {left: 13px; top: 60%; font-size: 0;}
}

@-moz-keyframes move-left {
  0% {left: 40%; font-size: 0;}
  1% {left: 40%; font-size: 5px;}
  50% {left: 13px; top: 20%; font-size: 5px;}
  99% {left: 13px; top: 60%; font-size: 5px;}
  100% {left: 13px; top: 60%; font-size: 0;}
}

@keyframes move-left {
  0% {left: 40%; font-size: 0;}
  1% {left: 40%; font-size: 5px;}
  50% {left: 13px; top: 20%; font-size: 5px;}
  99% {left: 13px; top: 60%; font-size: 5px;}
  100% {left: 13px; top: 60%; font-size: 0;}
}

#dot-right {
	height: 5px;
  width: 5px;
  font-size: 0;
  color: #CFD2E6;
  position: absolute;
  right: 40%;
  -webkit-animation-name: move-right;
  -webkit-animation-duration: 8s;
  -moz-animation-name: move-right;
  -moz-animation-duration: 8s;
  animation-name: move-right;
  animation-duration: 8s;
}

@-webkit-keyframes move-right {
  0% {right: 40%; font-size: 0;}
  1% {right: 40%; font-size: 5px;}
  50% {right: 13px; top: 20%; font-size: 5px;}
  99% {right: 13px; top: 60%; font-size: 5px;}
  100% {right: 13px; top: 60%; font-size: 0;}
}

@-moz-keyframes move-right {
  0% {right: 40%; font-size: 0;}
  1% {right: 40%; font-size: 5px;}
  50% {right: 13px; top: 20%; font-size: 5px;}
  99% {right: 13px; top: 60%; font-size: 5px;}
  100% {right: 13px; top: 60%; font-size: 0;}
}

@keyframes move-right {
  0% {right: 40%; font-size: 0;}
  1% {right: 40%; font-size: 5px;}
  50% {right: 13px; top: 20%; font-size: 5px;}
  99% {right: 13px; top: 60%; font-size: 5px;}
  100% {right: 13px; top: 60%; font-size: 0;}
}

.drawer {
  width: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}

.show-card {
  -webkit-box-shadow: 0px 5px 14px 0px rgba(0,22,99,0.1);
  -moz-box-shadow: 0px 5px 14px 0px rgba(0,22,99,0.1);
  box-shadow: 0px 5px 14px 0px rgba(0,22,99,0.1);
}

.show-content, .hide-content {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.show-content {
  opacity: 1;
}

.card-list {
  height: auto;
  background-color: white;
  margin-top: -40px;
  z-index: 0;
  border-radius: 13px;
  -webkit-box-shadow: 0px 5px 14px 0px rgba(0,22,99,0.1);
  -moz-box-shadow: 0px 5px 14px 0px rgba(0,22,99,0.1);
  box-shadow: 0px 5px 14px 0px rgba(0,22,99,0.1);
}

.fadein, .fadeout {
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: max-height 0.8s ease-in-out;
  -moz-transition: max-height 0.8s ease-in-out;
  -o-transition: max-height 0.8s ease-in-out;
  transition: max-height 0.8s ease-in-out;
}

.fadein {
  max-height: 1500px;
}

.card-list > ul > li {
  list-style: none;
  text-align: left;
}

.list-group {
  margin: 45px 24px 16px 24px;
}

.list-group-item {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #E0E0E0;
}

.list-group-flush:last-child .list-group-item:last-child {
  border: none;
  border-bottom: 1px solid #E0E0E0;
}

.list-item {
  font-size: 10px;
  line-height: 12px;
  margin: 11px 0 6px 0;
  padding: 0;
  font-weight: 300px;
}

.list-item-head {
  font-size: 12px;
  line-height: 14px;
  margin: 0 0 6px 0;
  padding: 0;
  font-weight: 300;
}

.dot-left-li, .dot-right-li, .dot-left-card, .dot-right-card {
  position: absolute;
	height: 5px;
	width: 5px;
  font-size: 5px;
  color: #CFD2E6;
  vertical-align: middle;
}

.dot-left-li {
  margin-left: -25px;
  margin-top: 25px;
}

.dot-right-li {
  right: 0;
  margin-right: -25px;
  margin-top: 25px;
}

.loader {
  margin: 76px 24px 36px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
	box-sizing: border-box;
	height: 29px;
	width: 29px;
  border-radius: 50%;
  border-top: 3px solid #558AE1;
  border-left: 3px solid #558AE1;
  border-right: 3px solid #558AE1;
  border-bottom: 3px solid white;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loaderText {
  margin-left:10.5px;
	color: #132236;
	font-family: "Museo Sans";
	font-size: 14px;
	line-height: 17px;
	text-align: center;
}
