.menu{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: none;
    padding: 0;
    margin: 0 auto;
    border: none;
    float: right;
}

.menu:hover, .menu:active, .menu:focus {
    background: rgba(207,210,230,0.2);
}

.menu-button {
    height: 19px;
    width: 19px;
    background: none;
    padding: 0;
    margin: 0 auto;
    border: 0;
    border-radius: 50%;
    line-height: 19px;
    text-align: center;
}

.menu-button:hover, .menu-button:active, .menu-button:focus {
    background: none;
    border: none;
}

.menu-button > i {
    color: #CFD2E6;
    font-size: 13px;
    padding: 0;
    line-height: 13px;
    margin: 0 auto;
}

.menu .btn-group > .btn-group:not(:last-child) > .btn, .menu .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.menu-list {
    box-sizing: border-box;
    border: 1px solid rgba(214,214,214,0.2);
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.07);
}

.menu-list-item{
    color: #132236;
    font-family: "Museo Sans";
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    padding: 8px;
}

.menu-list-item > i {
    float: right;
}

.menu-list-item:hover{
    background-color: rgba(85,138,225,0.05);
}
